body {
    font-family: Meiryo;
}

#title {
    width: 300px;
    text-align: center;
}

.title {
    background-color: #16ba00;
    text-align: center;
    width: 230px;
    height: 30px;
    color: white;
}

.text {
    width: 300px;
    height: 40px;
    resize: none;
}

.textbox {
    border-radius: 3px;
}

#head {
    text-align: center;
    width: 500px;
}

h1 {
    text-align: center;
}

#buppin {
    font-family: 'MS Mincho';
    width: 500px;
    height: 800px;
    margin-left: 80px;
}

#name1 {
    border-bottom: 1px solid #000000;
    font-size: 12px;
}

#Syacho {
    text-align: center;
    width: 50px;
    border: 1px solid #000000;
    height: 20px;
    font-size: 12px;
    margin-left: 10px;
}

.hanko {
    border: 1px solid #000000;
    width: 50px;
    height: 70px;
}

.hanko2 {
    border: 1px solid #000000;
    width: 50px;
    height: 40px;
}


.TableTitle {
    border: 1px solid #000000;
    width: 90px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

.area {
    width: 400px;
    height: 100px;
    border: 1px solid #000000;
    font-family: 'MS Mincho';
    resize: none;
}

.aa {
    width: 170px;
}
#yohaku {
    width: 340px;
    height: 30px;
}

@media print {
    .noprint {
        display: none;
    }
}

.zone {
    border: 1px solid #000000;
}

#date {
    font-size: 12px;
}

#Todoke {
    font-family: 'MS Mincho';
    width: 500px;
    height: 800px;
    margin-left: 80px;
}

.TextDate {
    width: 20px;
}

#name2 {
    font-size: 12px;
}

#Syacho2 {
    text-align: center;
    width: 50px;
    border: 1px solid #000000;
    height: 20px;
    font-size: 12px;
    margin-left: 10px;
}

#yohaku2 {
    width: 380px;
}

#yohaku3 {
    height: 10px;
}

#date2 {
    width: 100px;
    font-size: 12px;
}

.takasa {
    height: 30px;
    width: 50px;
}

.naiyou {
    border: 1px solid #000000;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 12px;
}

.nakami {
    border: 1px solid #000000;
    height: 30px;
    font-size: 12px;
    resize: none;
}

#top {
    height: 70px;
    text-align: center;
}

#foot {
    height: 30px;
    font-size: 12px;
}

#yohaku4 {
    width: 200px;
    height: 40px;
}

#yohaku5 {
    width: 100px;
}

#Riyuu {
    width: 418px;
}

#Bikou {
    width: 418px;
}


#sinsei {
    margin-left: 100px;
}

#buppintouroku {
    margin-left: 100px;
}

#kyuka {
    margin-left: 100px;
}

#fotter {
    margin-left: 80px;
}

.btn-flat-border {
    text-align: center;
    width: 120px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

    .btn-flat-border:hover {
        background: #16ba00;
        color: white;
    }

