body {
}

/*
.btn {
    width: 150px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #ECECEC;
    transition: .4s;
    font-size: 1.5em;
}

    .btn:hover {
        background: #000000;
        color: white;
    }
*/


    #m_sitemap_main li {
        background-color: #1e1e1e;
        font-weight: bold;
        transition: .4s;
        border-bottom: 1px solid red; /* topにborderをつけると指定した線の幅だけ下にずれていく */
    }

    #m_sitemap_main a:link {
        color: white;
    }
    #m_sitemap_main a:visited {
        color: white;
    }
    #m_sitemap_main a:hover {
        color: black;
        background-color: white;
    }
    #m_sitemap_main a:active {
        color: white;
        background-color: red;
    }

.date {
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    transition: .4s;
    border-bottom: 1px solid red;
}


.btn {
    width: 150px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #ececec;
    transition: .4s;
    font-size: 1em;
    text-align: center;
}

    .btn:hover {
        background: #000000;
        color: white;
        cursor: pointer;
    }


.label {
    font-size: 1em;
}
.All {
    text-align: center;
    font-weight: bold;
}

/*にょっきり生えるメニュー .js制御*/
#MenuBtn {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050; /*メニューより手前になるようにピクチャ番号を修正*/
    transition: transform 0.3s;
}

    #MenuBtn:hover {
        background-color: #1e1e1e;
    }

    #MenuBtn img {
        height: auto;
        width: 100%;
        display: block;
    }

    #MenuBtn .over {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        opacity: 0;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        color: #FFF;
        transition: .3s;
        z-index: 1051; /*ボタンより手前になるようにピクチャ番号を修正*/
    }

    #MenuBtn:hover .over {
        background: rgba(0,0,0,0.5);
        opacity: 1;
    }


#NavBar {
    position: fixed;
    left: -300px;
    top: 0;
    /*background-image: linear-gradient(#c9ffbf,#ffafbd);*/
    background-color: #1e1e1e;
    color: white;
    height: 100%;
    width: 300px;
    transition: transform 0.3s;
    z-index: 1000; /*ボタンより手前になるようにピクチャ番号を修正*/
}

.show {
    transform: translate3d(+300px,0,0);
}

.btn-flat-border {
    text-align: center;
    width: 180px;
    height: 32px;
    display: inline-block;
    padding: 0.15em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    background: #1e1e1e;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    display: inline-block;
}

    .btn-flat-border:hover {
        background: #808080;
        cursor: pointer;
    }

.article {
    margin-left: 2em;
    margin-right: 2em;
}

.linkbox {
    background-color: none;
    color: red;
    /* -webkit-appearance: none; ベンダープレフィックス(Google Chrome、Safari用) */
    /* -moz-appearance: none; ベンダープレフィックス(Firefox用) */
    border: none;
    height: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

    .linkbox a {
        /* ※本来はtransparentを継承して背景が透明になるはずだが、WebFormは仕様が古いためか、何故か透明にならない。 */
        background-color: none;
        background-image: -moz-linear-gradient(left, transparent 5%, black 50%, transparent 95%);
        background-image: -webkit-linear-gradient(left, transparent 5%, black 50%, transparent 95%);
        background-image: linear-gradient(to right, transparent 5%, black 50%, transparent 95%);
        color: white;
        text-decoration: none;
        height: auto;
        width: 100%;
        display: inline-block;
        transition: .4s;
        border-top: red solid 1px;
        border-bottom: red solid 1px;
        /* ブラウザの環境によっては対応なし↓　対応していなくても動作には支障なし */
        border-image: -moz-radial-gradient(red 90%, transparent 95%);
        border-image: -webkit-radial-gradient(red 90%, transparent 95%);
        border-image: radial-gradient(red 90%, transparent 95%);
        border-image-slice: 1;
    }

        .linkbox a:hover {
            background-color: none;
            background-image: -moz-linear-gradient(left, transparent 5%, red 50%, transparent 95%);
            background-image: -webkit-linear-gradient(left, transparent 5%, red 50%, transparent 95%);
            background-image: linear-gradient(to right, transparent 5%, red 50%, transparent 95%);
            color: white;
            cursor: pointer;
            border-top: white solid 1px;
            border-bottom: white solid 1px;
            /* ブラウザの環境によっては対応なし↓　対応していなくても動作には支障なし */
            border-image: -moz-radial-gradient(white 90%, transparent 95%);
            border-image: -webkit-radial-gradient(white 90%, transparent 95%);
            border-image: radial-gradient(white 90%, transparent 95%);
            border-image-slice: 1;
        }

        .linkbox a:active {
            background-color: none;
            background-image: -moz-linear-gradient(left, transparent 5%, white 50%, transparent 95%);
            background-image: -webkit-linear-gradient(left, transparent 5%, white 50%, transparent 95%);
            background-image: linear-gradient(to right, transparent 5%, white 50%, transparent 95%);
            color: red;
            cursor: pointer;
            border-top: red solid 1px;
            border-bottom: red solid 1px;
            /* ブラウザの環境によっては対応なし↓　対応していなくても動作には支障なし */
            border-image: -moz-radial-gradient(red 90%, transparent 95%);
            border-image: -webkit-radial-gradient(red 90%, transparent 95%);
            border-image: radial-gradient(red 90%, transparent 95%);
            border-image-slice: 1;
        }


@media print {
   #MenuBtn, #NavBar, .show {
       display: none;
       background: none;
   }
}