body {
    margin: 0;
    padding: 0;
    font-family: Meiryo;
}


.menu {
    width: 100%;
}

h1 {
    font-size: 25px;
}


#title {
    width: 300px;
    text-align: center;
}

.btnmenu {
    text-align: center;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

    .btnmenu:hover {
        background: #16ba00;
        color: white;
    }



#ImageButton1 {
    width: 20px;
    height: 20px
}


.TitleClass {
    width: 250px;
    margin-top: 25px;
}

.form {
    height: 100vh;
}
