body {
    background-color: #0094ff; /* 背景色 */
    background-image: url("blue.png"); /* 画像 */
    background-size: cover; /* 全画面 */
    background-attachment: fixed; /* 固定 */
    background-position: center center; /* 縦横中央 */
}
h1 {
    width: 400px;
    text-align: center;
    color: white;
    text-align: center;
    margin-left: 500px;
    
}

.btn-flat-border {
    text-align: center;
    width: 120px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
    background-color:white;
    
}

    .btn-flat-border:hover {
        background-color: #20B2AA;
        color: white;
    }

#ChatArea{
    border-style:none;
    border:none;
    margin-left: 370px;
}