body {
    background-color: #0094ff; /* 背景色 */
    background-image: url("purple.jpg"); /* 画像 */
    background-size: cover; /* 全画面 */
    background-attachment: fixed; /* 固定 */
    background-position: center center; /* 縦横中央 */
}
h1 {
    width: 400px;
    text-align: center;
    color: white;
    text-align: center;
    margin-left: 500px;
    position: relative;
    font-size: 3em;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: #191970;
    text-shadow: 0.04em 0.02em 0 #B0BEC5, 0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}

.btn-flat-border {
    text-align: center;
    width: 120px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
    background-color:white;
    
}

    .btn-flat-border:hover {
        background-color: #20B2AA;
        color: white;
    }

#ChatArea {
    border-style: none;
    border: none;
    margin-left: 370px;
}
