body {
    background-image: url(../ログイン/white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/

    font-family: Meiryo;
}
}

#Wrap {
    background-color: #fff;
    width: 1280px;
    margin-left: 300px;
    margin-right: 300px;
}

.form-flat-border {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

.btn-flat-border {
    text-align: center;
    width: 120px;
    display: inline-block;
    padding: 0.15em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

    .btn-flat-border:hover {
        background: #16ba00;
        color: white;
    }



.btn {
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #ECECEC;
    transition: .4s;
    font-size: 1em;
    text-align: center;
}

    .btn:hover {
        background: #000000;
        color: white;
    }