body {
    background-image: url(../ログイン/white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
    font-family: Meiryo;
}

#Wrap {
    background-color: #fff;
    width: 1280px;
    margin-left: 300px;
    margin-right: 300px;
}

.DGTable {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 1260px;
    padding: 0.3em 1em;
    border: solid 2px #16ba00;
    border-radius: 3px;
    font-family: Meiryo;
    border-radius: 3px;
}

.form-flat-border {
    background-color: #ccffcc;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

.btn-flat-border {
    text-align: center;
    width: 120px;
    height: 32px;
    display: inline-block;
    padding: 0.15em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    border-radius: 3px;
}

    .btn-flat-border:hover {
        background: #16ba00;
        color: white;
    }
