@charset "UTF-8";
/*-------------------------------------------------*/
/*
    使っている色
    ・ベースカラー：white
    ・メインカラー： #16ba00
    ・アクセントカラー：#ccffcc
*/
/*-------------------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}
/*-------------------------------------------------*/

/*色々な要素を中央ぞろえにするためのCSS*/
.Center {
    margin: 0 auto;
    text-align: center;
}
/*-------------------------------------------------*/
/*ボタンのCSS*/

.btn-flat-border {
    width: 120px;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #16ba00;
    border: solid 2px #16ba00;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
}

    .btn-flat-border:hover {
        background: #16ba00;
        color: white;
        cursor: pointer;
    }

/*-------------------------------------------------*/
/*上のヘッダーのCSS（文字と背景）*/
#header_title {
    background-color: #16ba00;
}

#header_index {
    font-size: 50px;
    color: white;
    text-decoration: none;
}
/*-------------------------------------------------*/
/*ヘッダーの各種メニューのCSS、リストを横並びにしたりしている*/
.nav_main {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    height: 50px;
    background-color: #ccffcc;
    padding-top: 10px;
}


.header2_menu {
    /*ヘッダーの各種メニューの各項目のCSS*/
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    color: black;
}

    .header2_menu:hover {
        background: #16ba00;
        color: white;
        cursor: pointer;
        transition: .4s;
    }

/*-------------------------------------------------*/
/*左のハンバーガーメニューを動かすためのCSS*/
#aside {
    position: fixed;
    left: -300px;
    top: 0;
    background-image: linear-gradient(#c9ffbf,#ffafbd);
    height: 100%;
    width: 300px;
}

.show {
    transform: translate3d(+300px,0,0);
}

#wrapper, aside {
    transition: transform 0.3s;
}

/*-------------------------------------------------*/
/*上の登録・印刷などのメニューボタンのCSS*/
.section_btn {
    display: flex;
    justify-content: center;
}

/*上のボタンメニューを区切るためのCSS*/
#Button4 {
    margin-left: 50px;
}
/*-------------------------------------------------*/
/*上の登録メニューのCSS*/

.Center_Table {
    margin: auto;
    text-align: center;
    width: 500px;
}

.Center_Color {
    background-color: #16ba00;
    color: white;
}


/*-------------------------------------------------*/
/*登録画面のCSSの値*/
#TextBox2 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

#DropDownList1 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

#TextBox1 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
/*-------------------------------------------------*/

/*検索画面のCSSの値*/
#TextBox3 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

#DropDownList2 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

#TextBox5 {
    border-style: solid;
    border-width: thin;
    border-color: black;
}

/*-------------------------------------------------*/
/*上のデータグリッド*/
#Scdl3 {
    Width: 1200px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 0 auto;
    text-align: left;
}
/*-------------------------------------------------*/
/*昇順・降順ボタン*/
#Ddl {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
/*-------------------------------------------------*/
/*下のデータグリッド*/
#ScdlList {
    Width: 1200px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 0 auto;
    text-align: center;
}
/*-------------------------------------------------*/
/*登録・検索画面のチェックボックスの値を左に揃えるためのCSS*/
.CheckBoxList_Left {
    text-align: left;
}
/*-------------------------------------------------*/
/*C#でCSSを動かすためのCSS*/

.Center_cs {
    background-color: #16ba00;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.Center_cs_Color {
    border-color: #16ba00;
    border-width: 10px;
    text-align: left;
}

.Center_cs_Color_Top {
    text-align: left;
    border-color: #16ba00;
    border-width: 10px;
    border-style: none solid none solid;
    background-color: white;
}

.Center_cs_Color_Bottom {
    border-color: #16ba00;
    border-width: 10px;
    text-align: left;
    border-style: none solid none solid;
}

.Center_cs_Color_Date {
    border-color: #16ba00;
    border-width: 10px;
    background-color: #16ba00;
    color: white;
}

/*-------------------------------------------------*/
/*検索結果を表示するラベルのCSS*/
#Label2 {
    font-size: 20px;
}



/*-------------------------------------------------*/
/*下のデータグリッドのjavascritから操作するためのCSS*/
.delete_check {
}

.edit_focus {
}

/*-------------------------------------------------*/

footer {
}
/*-------------------------------------------------*/
