body {
    background-image: url(white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}

.hr {
    display: block;
    height: 0;
    width: auto;
    margin: 0.5em 0;
    border: 1px inset;
    border-color: red;
}

#Wrap {
    width: 1880px;
    overflow: hidden;
}

#Main {
    width: 1230px;
    height: auto;
    margin-right: 50px;
    margin-top: 1.85em;
    float: right;
}

#Innner {
    height: auto;
    background-color: #1e1e1e;
    color: white;
}

.Edit {
    width: 1230px;
    height: 22em;
    margin-right: 50px;
    margin-top: 1.85em;
    background-color: #1e1e1e;
    color: white;
}

.Edit_btn_space {
    background-color: black;
    color: white;
    width: 1230px;
    height: auto;
    margin-right: 50px;
    margin-top: auto;
    padding-top: 1.85em;
    padding-bottom: 1.85em;
    text-align: center;
    display: inline-block;
}

#Sub {
    width: 550px;
    margin-left: 50px;
    margin-top: 0em;
    float: left;
}


#Navigation {
    color: white;
    background-color: #1e1e1e;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 12px;
    margin: 0px;
    height: 25em; /*縦長なら85em*/
    top: 150px; /*疑似フレームの上からの座標（デフォルトでは左上）*/
}

#NewsFeed {
    color: white;
    background-color: #1e1e1e;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 12px;
    margin: 0px;
    height: 14.6em; /*縦長なら85em*/
    top: 150px; /*疑似フレームの上からの座標（デフォルトでは左上）*/
}

.textbox {
    background-color: black;
    color: white;
    /* -webkit-appearance: none; ベンダープレフィックス(Google Chrome、Safari用) */
    /* -moz-appearance: none; ベンダープレフィックス(Firefox用) */
    border: none;
    text-decoration: none;
}

.ll_linkbox {
    background-color: aliceblue;
    color: blue;
    /* -webkit-appearance: none; ベンダープレフィックス(Google Chrome、Safari用) */
    /* -moz-appearance: none; ベンダープレフィックス(Firefox用) */
    border: none;
    cursor: pointer;
    display: inline-block;
}


/*天気予報関連*/
.hot{
    color:red;
}
.cold{
    color: #4bbdfe;
}

/*m2mロゴ*/
.logo {
    margin-top: 10em;
}

/*主題*/
.index1 {
    font-size: large;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.8px snow;
}

/*本文*/
.article {
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2em;
}

/*汎用　中央ぞろえ*/
.middle {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.center {
    width: 1230px;
    margin-top: 1.85em;
    text-align: center;
}

/*左枠のユーザーアイコン*/
.icon {
    text-align: center;
    display: inline-block;
}

/*ログインリスト関連*/
.log {
    text-align: center;
    display: inline-block;
    background-color: black;
    height: 100%;
    width: 100%;
}

.btn_loginlist {
    -webkit-appearance: none; /* スマホ対応 */
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: white;
    background: #1e1e1e;
    transition: .4s;
    font-size: 1em;
}

    .btn_loginlist:hover {
        background: #808080;
        cursor: pointer;
    }

.bg_test-text {
    display: inline-block; /* インラインブロックにする */
    padding: 10px 20px; /* 余白指定 */
    padding-bottom: 200px;
    margin: 1em;
    width: auto;
}

/*データグリッド　テーブルにも使える*/
.DgTD {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
}

.bg_test {
    text-align: center; /* 文字中央寄せ */
}


/*右から左に流れる文字 <div class=flowtext></div>で囲ったulとliで実装*/
.flowtext {
    margin: 0 auto 40px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
}

    .flowtext ul {
        margin: 0;
        display: inline-block;
        padding-left: 100%;
        white-space: nowrap;
        line-height: 1em;
        animation: scrollText 120s linear infinite;  /*移動にかかる時間 上げると遅くなる*/
    }

        .flowtext ul li {
            display: inline;
            margin: 0 2000px 0 0;   /*p2 = xの間隔（広げると速度も上がる）*/
        }

/*キーフレーム処理（並列実行[常時]）*/
@keyframes scrollText {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}




