body {
    background-image: url(white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_test-text {
    display: inline-block; /* インラインブロックにする */
    padding: 10px 20px; /* 余白指定 */
    padding-top: 150px;
    padding-bottom: 250px;
}
.form {
}
.bg_test {
    text-align: center; /* 文字中央寄せ */
    padding: 150px; /* 余白指定 */
}
#lblID {
    width: 200px;
    height: 30px;
}
#lblPassword {
    width: 200px;
    height: 30px;
}
#TbxID {
    width: 200px;
    height: 40px;
    border-radius: 3px;
}

#TbxPW {
    width: 200px;
    height: 40px;
    border-radius: 3px;
}
#lblError {
    width: 200px;
    height: 30px;
}

.btn-flat-simple {
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

    .btn-flat-simple:hover {
        background: #00bcd4;
        color: white;
    }