body {
    background-image: url(white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}

.hr {
    display: block;
    height: 0;
    width: auto;
    margin: 0.5em 0;
    border: 1px inset;
    border-color: red;
}

#Wrap {
    width: 1880px;
    overflow: hidden;
}

#Main {
    width: 1230px;
    height: 30em;
    margin-right: 50px;
    margin-top: 1.85em;
    float: right;
    background-color: #1e1e1e;
    color: white;
}

#Sub {
    width: 550px;
    margin-left: 50px;
    margin-top: 0em;
    float: left;
}


#Navigation {
    color: white;
    background-color: #1e1e1e;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 12px;
    margin: 0px;
    height: 25em;   /*縦長なら85em*/
    top: 150px; /*疑似フレームの上からの座標（デフォルトでは左上）*/
}

.logo {
    margin-top: 10em;
}

.index1 {
    font-size: large;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
}

.article {
    margin-left: 2em;
}

.btn_loginlist {
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: white;
    background: #1e1e1e;
    transition: .4s;
    font-size: 1em;
}

    .btn_loginlist:hover {
        background: #808080;
        cursor: pointer;
    }

.bg_test-text {
    display: inline-block; /* インラインブロックにする */
    padding: 10px 20px; /* 余白指定 */
    padding-bottom: 200px;
    margin: 1em;
    width: auto;
}

.DgTD {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
}

.bg_test {
    text-align: center; /* 文字中央寄せ */
}