body {
    background-image: url(white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}

.bg_test-text {
    display: inline-block; /* インラインブロックにする */
    padding: 10px 20px; /* 余白指定 */
    padding-bottom: 200px;
    margin: 30px;
}
.bg_test {
    text-align: center; /* 文字中央寄せ */
    padding: 50px; /* 余白指定 */
}
#login_tb {
    width: 100%;
}
#lblID {
    width: 200px;
    height: 30px;
    letter-spacing: 0.5em;
    font-size: 1.5em;
}
#lblPassword {
    width: 200px;
    height: 30px;
    letter-spacing: 0.5em; /* 文字間隔指定 */
    font-size: 1.5em;
}
#TbxID {
    width: 200px;
    height: 40px;
    margin: 50px;
    opacity: 0.5; /* 不透明度指定 */
}

#TbxPW {
    width: 200px;
    height: 40px;
    margin: 50px;
    opacity: 0.5;
}
#lblError {
    width: 200px;
    height: 30px;
}

.btn {
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #ECECEC;
    transition: .4s;
}

    .btn:hover {
        background: #000000;
        color: white;
    }
.txt {
    text-align: center;
}