body {
    background-image: url(../ログイン/white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}


.cell {
    text-align: center;
    height:50px;
    margin-left:100px;
}
.datagrid {
    width: 100%;
    margin-left:200px;
}
.txt{
    width:200px;
    height:25px;
}
.lbl{
    width:150px;
}
#Wrap {
    width: 1880px;
    overflow: hidden;
}
.xxx {
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    color: white;
}
.calendar {
    margin-left: 200px;
    margin-right: 200px;
}
.DgPIchiran{
    border-block-color:black;
}