body {
    background-image: url(../ログイン/white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}
.All {
    text-align: center;
    font-weight: bold;
}
.txt {
    width: 200px;
    height: 25px;
}
.btn-wbs {
    text-align: right;
}
.lblMonth {
    white-space: pre;
}
.xxx {
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    color: white;
}
.table{
    width:100%;
}
.DgPKanri {
    border-block-color: black;
}
.jyunban {
    height: 20px;
    width: 20px;
    background-color: black;
    color: red;
    border-color: black;
    visibility:visible;
}
.visibility_hidden {
    height: 20px;
    width: 20px;
    background-color: black;
    color: red;
    border-color: black;
    visibility: hidden;
}
.progress{
    width:100px;
    height:20px;
}
.pMiddlename {
    background-color: #272525;
    color: white;
    width: 100px;
    height: 15px;
    border-width: 1px;
}
.pInputdate {
    background-color: #272525;
    color: white;
    width: 120px;
    height: 15px;
    border-width: 1px;
}
.ShintyokuChange {
    background-color: #272525;
    color: white;
    width: 80px;
    height: 20px;
    border-width: 1px;
}
.time {
    background-color: #272525;
    color: white;
    border-width: 1px;
}