body {
    background-image: url(../ログイン/white.jpg);
    background-repeat: no-repeat; /* 画像重複しない */
    background-size: cover;
    font-weight: bold; /*太字にする*/
}
.All {
    text-align: center;
    font-weight: bold;
}
.btn {
    width: 200px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #ECECEC;
    transition: .4s;
    font-size: 1em;
}

    .btn:hover {
        background: #000000;
        color: white;
    }
.table{
    width:100%;
}
.txt {
    width: 200px;
    height: 25px;
}